:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: bold;
  color: #646cff;
  text-decoration: inherit;
  padding: 20px;
  font-variant: small-caps;
  text-decoration-line: underline;
}
a:hover {
  color: #535bf2;
}

nav {
  margin-top: 60px;
}

h2 {
  font-size: 25px;
  color: darkslateblue;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

img {
  height: 300px;
  width: auto;
  margin-left: 200px;
}

input {
  font-size: 16px;
  margin-left: 20px;
}

#add {
  margin-top: 15px;
  margin-left: 20px;
  padding-top: 5px 10px;
  background-color: #696666;
  color: lavender;
  font-weight: bold;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: gainsboro;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 20px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#details {
  color: midnightblue;
  margin-left: 200px;
  margin-right: 15px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
